
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.unit-wizard-sidebar.affix {
    top: 20px;
    width: 212px;
    z-index: 9999 !important;
}
